body{
	background-image: url("images/b2.jpg");
	background-size: cover;
	height:100%;
	width:100%;
  color:yellow;
  background-color:red;
}

#main{
	     border: 7px solid teal;
    border-style: groove;
	  display: none;
    color:red;
    position: absolute;
}


img{ 
	    height:94%;
	    width:100%;
}
#drag{
	text-align: center;
  color:red;
}


#bar1{
	
	border:1px solid skyblue;
	color:aliceblue;
	position:fixed;
  text-align: center;
}

#line{
	border:1px solid skyblue;	
  position: absolute;
}

#arrow{
	border: 1px solid darkgreen;
	position: relative;
	transform: rotate(-45deg);
}


.row112{ 
		height: 100px;
		width:170px;
      position: fixed;   
      transform: rotate(90deg);
}
.row12{
	    position: fixed;  min-height:34px; 
}
.row1{
	color:white;
	    text-align: center;
}
#rowid{
	resize:both;
	overflow:auto;
	min-height:34px;
	min-width:170px;
	max-height:34px;
}
#part1{
	float:left;
}
#part2{
	border: 1px solid skyblue;   
	width: 98.4%;
    margin-top: 9px;
    margin-left: 2px;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid skyblue;
  border-bottom: 10px solid transparent;
  float: right;
  margin-top: -11px;
  
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid skyblue;
  border-bottom: 10px solid transparent;
}

.row11{
		color:white;
	    text-align: center;
}

#close{
	font-size: 7px;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
	
}

#bar1{
	min-width: 100px;
}

.mainROW{
  width:150px;
      height:65px;
      min-width:150px;
      min-height:65px;
      position: fixed;  
      resize:both;
      position: relative;
}
#closeButton{
    padding: 1px;
    font-size: 8px;
    padding-left: 3px;
    padding-right: 3px;
}

#outerDIV{
 height:1px;
 width:1px;
}

#arrowDIV{
	overflow:auto;
  min-height:34px;
  min-width:132px;
}

#leftArrow{
	float:left;
}

#hztLine{
	border: 1px solid skyblue ;margin-top: 9px;
}

.tri-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid skyblue;
  border-bottom: 10px solid transparent;
  float: right;
  margin-top: -11px;  
}

.tri-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid skyblue;
  border-bottom: 10px solid transparent;
}
.mainROW{
  width:150px;
      height:50px;
      min-width:150px;
      min-height:65px;
       
      resize:both;
      position: relative;
      color: white;
}

.mainROW1{
  	  width:150px;
      height:50px; 
      resize:both;
      position: relative;
      transform: rotate(90deg);
}
.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se{
	background-color: skyblue;

}

#buton{
	margin-left: 45%;
}